<ion-header>
  <ion-toolbar>
    <ion-title>96 horas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    
    <ion-row align-items-center>
      <ion-col size="3">
        <ion-label color="primary">Epe 1:</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Ingrese nota (ej: 6.5)" color="primary"  maxlength="3" [(ngModel)]="epe1"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-label color="primary">Epe 2:</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Ingrese nota (ej: 6.5)" color="primary"  maxlength="3" [(ngModel)]="epe2"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-label color="primary">Epe 3:</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Ingrese nota (ej: 6.5)" color="primary"  maxlength="3" [(ngModel)]="epe3"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-label color="primary">Eva 1:</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Ingrese nota (ej: 6.5)" color="primary"  maxlength="3" [(ngModel)]="eva1"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-label color="primary">Eva 2:</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Ingrese nota (ej: 6.5)" color="primary"  maxlength="3" [(ngModel)]="eva2"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-label color="primary">Eva 3:</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Ingrese nota (ej: 6.5)" color="primary"  maxlength="3" [(ngModel)]="eva3"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button color="danger" expand="block" (click)="enviar()">Enviar</ion-button>
          <ion-button expand="block" position="top" (click)="volver()">Volver</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>