<ion-header>
  <ion-toolbar>
    <ion-title>Respuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-label color="danger">Pruebas EPE</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-Epe 1 : <ion-label color="success">{{epe1n}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-Epe 2 : <ion-label color="success">{{epe2n}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-Epe 3 : <ion-label color="success">{{epe3n}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="danger">Evas</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-Eva 1 : <ion-label color="success">{{eva1n}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-Eva 2 : <ion-label color="success">{{eva2n}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="primary">-Eva 3 : <ion-label color="success">{{eva3n}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="danger">Conclusion</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-{{mensaje}} </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">-{{mensaje2}} </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-label color="primary">-Porfavor ingresar examen </ion-label>
        </ion-col>
      </ion-row>

    <ion-row align-items-center>
      <ion-col size="4">
        <ion-label color="danger">Examen:</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input placeholder="Ingrese (ej: 6.5)" color="primary" maxlength="3" [(ngModel)]="examen"></ion-input>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="block" (click)="calcular()">Calcular</ion-button>
          <ion-button expand="block" position="top" (click)="volver()">Volver</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>