<ion-header>
  <ion-toolbar>
    <ion-title>Integrantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item padding><img src="\assets\img/ip.jpg"></ion-item>
  <ion-item>Patrick Poblete</ion-item>
  <ion-item>Sebastian Marilao</ion-item>
  <ion-item>Victor Castillo</ion-item>
  <ion-item>Sebastian Orellana</ion-item>
  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" position="top" (click)="volver()">Volver</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>